*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    background-color: white;
}

/* navigation Bar*/

.maindiv{
    width: 1170px;
    margin: 0px auto;
}
header{
    background-color: #FFFFFF;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    box-shadow: 0px 1px  #F1EFFD;
}
.logo{
    padding-top: 19px;
    padding-bottom: 17px;
}
.nav{
    float: right;
}

.nav a{
    padding: 36px 15px;
    color: black;
    float:left;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;  
}

.nav .color-login{
    color:#4DAEB2;
}

.nav a:hover{
    background-color: #4DAEB2;
    color: white;
}
a.active{
    background-color: #4DAEB2;
    color: white;
}
/* Monitor Section */

.first-sec-div1{
    clear: both;
    padding-top: 88px;
    box-shadow: 0px 4px 10px #DED9F9;
    margin-bottom: 106px;
    padding-bottom: 100px;
    background-color: #FAF9FF;
}
.clear-both{
    clear: both;
}
.first-sec-div1 .maindiv{
    background-color: #FAF9FF;
    position:relative;
}

.first-sec-div1 .maindiv img{
    position: absolute;
    top:23px;
    right: 0%;
}
.first-sec-div1 .maindiv .content{
    float: left;
    margin-top: 96px;
    width: 640px;
    margin-bottom: 0px;
}
.text1{
    margin-bottom: 23px;
    font-family: 'Rubik', sans-serif;
    font-size: 52px;
    text-align: right;
    color: #261D4B;
    font-weight: 300;
    line-height: 58px;
}
.text2{
    font-family: 'Montserrat', sans-serif;
    color: #726F7A;
    font-size: 20px;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    line-height: 26px;
}
.button{
    transform: skew(-20deg);
    border-radius: 8px;
    background-color: #82D7DB;
    float: right;
    font-size: 18px;
    color: #28282E;
    padding: 15px 21px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    text-decoration: none;
    font-weight: 400;
    line-height: 26px;
}
 span h6{
    
    transform: skew(20deg);
    margin: 0px 0px;
}

/* Four polygon */

.second_sec_div{
    clear: both;
    margin-bottom: 52px;
    text-align: center;
}
.sec2-heading{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #261D4B;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
}
.sec2-content{
    color: #726F7A;
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 38px;
    font-weight: 300;
    line-height: 26px;
}
.four_poly{
    display: inline-block;
    text-align: center;
    position: relative;
    margin-bottom: 13px;
}
.four_poly span{
    position: absolute;
    z-index: -1;
    width: 509px;
    border-top: 1px solid #C7E3E3;
    left: 167px;
    top: 84px;
}
.poly1{
    background-image: url(../Images/poly1.png);
    width: 154px;
    height: 171px;
    display: inline-block;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    margin: 0px 27px;
}

.poly2-3-4{
    background-image: url(../Images/poly2.png);
    width: 154px;
    height: 171px;
    display: inline-block;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center 7px;
    margin: 0px 27px;
}
.poly2-3-4:hover{
    background-image: url(../Images/poly1.png);
    background-position: center 0px;
}

.poly1_text{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    margin: 0px;
    padding-top: 12px;
    font-weight: 500;
    line-height: 26px;
}

.poly_img{
    padding-top: 34px;
}

.screen_shot_div .screen_shot{
    float: right;
}
.screen_shot_div{
    margin-left:60px;
    margin-right:60px; 
    border: 1px solid #DCDCDC;
    position: relative;
    top: 28px;
    padding:30px;
}
.screen_shot_div::before{
    position: absolute;
    width: 50px;
    height: 50px;
    border-top:1px solid #DCDCDC;
    border-bottom:0px solid #DCDCDC;
    border-left:1px solid #DCDCDC;
    border-right:0px solid #DCDCDC;
    top: 319px;
    left: 20%;
    margin-left: -30px;
    content:"";
    margin-top: -346px;
    transform: rotate(45deg);
    background: white;
}
.screen_shot_content{
    width: 444px;
}
.screen_shot_content p{
    font-size: 18px;
    color: #615F67;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    display: inline-block;
    margin-bottom: 9px;
    line-height: 26px;
}
.screen_shot_content ul{
    color: #615F67;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 26px;
    list-style-type: initial;
    padding-left: 20px;
    padding-right: 36px;
}

/* Three Polygon */

.third_section{
    background-color: #F7F7FB;
    text-align: center;
    position: relative;
    margin-bottom: 38px;
}
.third_section .maindiv::after{
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 0px 0px #8D87A8;
    top: 300px;
    left: 50%;
    margin-left: -23px;
    content:"";
    margin-top: 110px;
    transform: rotate(45deg);
    background: #F7F7FB;
}
.third_section h5{
    text-align: center;
    color: #261B4A;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    padding-top: 34px;
    margin-bottom: 53px;
    margin-top: 0px;
    font-weight: 300;
    line-height: 26px;
}
.third_sec_poly{
    display: inline-block;
    margin-bottom: 66px;
    text-align: center;
}
.poly5-6-7{
    background-image: url(../Images/poly5.png);
    width: 230px;
    height: 258px;
    float: left;
    margin: 0px 67px;
    text-align: center;
    background-position: center;
}
.poly5-6-7_img2{
    margin-top: 17px;
    margin-left: 14px;
    margin-right: 14px;
}

.poly6_inner_headings{
    color: #8ADCDB;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    margin: 0px 0px 5px 0px;
}
.poly6_img1{
    float: left;
    margin-left: 22px;
    padding-right: 5px;
    padding-bottom: 20px;
}
.poly6_img2{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    border-right: 1px solid #7ECED2;
    border-left: 1px solid #7ECED2;
}
.poly6_img3{
    float: left;
    padding-left: 5px;
}

.poly7_img1{
    margin-right: 24px;
    margin-bottom: 9px;
}
.third_sec_heading1{
    color: #FFFFFF;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 26px;
}

.third_sec_text{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    width: 166px;
    display: inline-block;
    font-weight: 500;
    margin: 0px;
    padding-top: 20px;
}
.third_sec_text1{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    width: 166px;
    display: inline-block;
    font-weight: 500;
    margin: 0px;
    padding-top: 16px;
}

/* Video Section */

.video_section{
    text-align: center;
    margin-bottom: 31px;
}
.video_heading{
    color: #261B4A;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-weight: 300;
}

/* Footer */

footer{
    background-color: #2A2735;
}
.footer_text{
    display: inline-block;
    margin: 30px 0px;
}
.logo_bckground{
    background-image: url(../Images/footer.svg);
    width: 33px;
    height: 36px;
    background-repeat: no-repeat;
    float: left;
    padding-top: 11px;
}
.footer_logos{
    float: right;
    margin-top: 20px;
}
.logo_bckground a{
    color: white;
    margin-left: 10px;
}
footer{
    background-color: #2A2735;
    font-family: 'Montserrat', sans-serif;
    color: #A5A5A5;
    font-size: 13px;
    text-align: left;
}